{% block body %}
<style>
	body .modal {
		width: 70%;
		left: 15%;
		height: 90%;
		margin-right: auto;
		margin-left: 0%;
	}
	body .modal-body{

		padding: 5px;
		max-height: 90%;
		height: 90%;}

		body .modal.fade.in {
			top: 5%;
			bottom: 5%;
		}

	</style>
	<br>
	<table width="100%">
		<tr>
			<td width="50%" style="padding-left: 10px;">
				<a class="brand" href="#">
					{#<img class="logo_empresa" src="{{ asset('uploads/images/logos_empresas/'~app.session.get('Rebsol_Empresa_Logo')) }}" alt="Logo" />#}
					<img src="{{ obtenerRecurso(hermesImagesLogosEmpresas ~ app.session.get('logoEmpresaLogin')) | imagine_filter('imagen_logo_empresa') }}?{{"now"|date("YmdHis")}}"/>
				</a>
				<div class="clearfix " ></div>
			</td>
			<td style="padding-right: 5px;">
				<div style="text-align:right;"><strong>Fecha : {{ "now"|date("d-m-Y") }}</strong><br><strong>Hora   : {{ "now"|date("H:i") }}</strong> </div>
			</td>
		</tr>
	</table >
	<div id="tabbable-boleta" class="tabbable tabbable-boleta">
		<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
			{%for detalle in detalles %}
			{% set tipoDocumento = detalle.idDocumento%}
			{% if loop.first %}

			<li class="active tabBoleta">
				<a data-toggle="tab" href="#Boleta{{tipoDocumento}}_{{detalle.subEmpresa}}_{{detalle.idRuc}}">{{detalle.tipoDocumento}}</a>
			</li>

			{% else %}
			<li class="tabBoleta">
				<a data-toggle="tab" href="#Boleta{{tipoDocumento}}_{{detalle.subEmpresa}}_{{detalle.idRuc}}">{{detalle.tipoDocumento}}</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<div id="tab-content-boleta" class="tab-content tab-content-boleta">
			{%for detalle in detalles %}
			{% set tipoDocumento = detalle.idDocumento%}
			{% if loop.first %}
			<div id="Boleta{{tipoDocumento}}_{{detalle.subEmpresa}}_{{detalle.idRuc}}" class="tab-pane active">
				<div style="text-align:center;"><h4><b>DETALLE {{detalle.tipoDocumento|upper}}<span id="numeroBoletaVariable"> {{detalle.numeroDocumento}}</span></b></h4></div>
				<div class="clearfix " ></div>
				<div style="text-align:center;">Sub-Empresa: {{detalle.nombresubEmpresa}}</div>
				<div class="clearfix " ></div>
				<br>
				<div style="text-align:left;">Con Fecha  {{ "now"|date("d-m-Y") }}, Hemos recibido de:</div>
				<br>
				<table border="1"  width="100%" bordercolor="#CED3D5">
					{% if coreApi == 0%}
					<tr height="30px">
						<td style=" background-color: whitesmoke; padding-left: 5px; font-weight: bold " width="20%">NOMBRE PACIENTE</td>
						<td style="padding-left: 5px " width="30%" >{{detalle.nombrePersona|upper}}</td>
						<td style=" background-color: whitesmoke; padding-left: 5px; font-weight: bold " width="20%">RAZA-ESPECIE</td>
						<td style="padding-left: 5px " width="30%" colspan="2">{{detalle.raza|upper}}-{{detalle.especie|upper}}</td>
					</tr>
					<tr height="30px">
						<td style=" background-color: whitesmoke; padding-left: 5px; font-weight: bold " width="20%">NOMBRE CLIENTE</td>
						<td  style="padding-left: 5px " width="30%">{{detalle.nombreCliente|upper}} {{detalle.aPaterno|upper}} {{detalle.aMaterno|upper}}</td>
						<td style=" background-color: whitesmoke;  padding-left: 5px ; font-weight: bold" width="20%">
							{% if detalle.nombreTipoIdentificacionExtranjero  is  defined %}
							{{ detalle.nombreTipoIdentificacionExtranjero }}
							{% endif %}
						</td>
						<td style="padding-left: 5px " width="30%" colspan="2">
							{% if detalle.identificacionExtranjero  is not empty %}
							{{ detalle.identificacionExtranjero }}
							{% else %}
							{{detalle.rut}}-{{detalle.dv}}
							{% endif %}
						</td>
					</tr>
					{%else%}
					<tr height="30px">
						<td style=" background-color: whitesmoke; padding-left: 5px; font-weight: bold " width="20%">NOMBRE PACIENTE</td>
						<td  style="padding-left: 5px " width="30%">{{detalle.nombrePersona|upper}} {{detalle.aPaterno|upper}} {{detalle.aMaterno|upper}}</td>
						<td style=" background-color: whitesmoke;  padding-left: 5px ; font-weight: bold" width="20%">
							{% if detalle.nombreTipoIdentificacionExtranjero  is  defined %}
							{{ detalle.nombreTipoIdentificacionExtranjero }}
							{% endif %}
						</td>
						<td style="padding-left: 5px " width="30%">
							{% if detalle.identificacionExtranjero  is not empty %}
							{{ detalle.identificacionExtranjero }}
							{% else %}
							{{detalle.rut}}-{{detalle.dv}}
							{% endif %}
						</td>
					</tr>
					{% endif %}
					<tr>
						<td colspan="4"  width="100%" >
							<table  border="0" width="100%">
								<tr height="25px">
									<td  width="50%" style=" font-weight: bold; padding-left: 20%"><h5><b>Total</b></h5></td>
									<td  width="50%"  style="  text-align: left; padding-left: 5px">
										<h4> {{ obtenerMonto(detalle.totalCuentaConDescuento) }} </h4>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="30px">
						<td style=" background-color: whitesmoke;  padding-left: 5px; font-weight: bold ">USUARIO</td>
						<td colspan="3" style="padding-left: 5px ">{{detalle.nombreCajero}} {{detalle.aPaternoCajero}} {{detalle.aMaternoCajero}}</td>
					</tr>
				</table>
				<br>
				<div style="text-align:left;"><b>{{empresa.nombreEmpresa}}</b></div>
				<div class="clearfix " ></div>
				<div style="text-align:left;">{{empresa.direccion}}</div>
				<div class="clearfix " ></div>
				<div style="text-align:left;">{{empresa.telefonoFijo}}</div>
				<br>
				<div id="editBoletaForm" class=" editBoletaForm hide">
					<div class="table-header-grey" style="text-align:left;">
						<i class="icon icon-edit icon-large"> </i> Modificación de Boleta
					</div>
					<table  width="100%"class=" table table-bordered table-condensed ">
						<tr>
							<td colspan="2"><b> Modificár Numero De boleta</b>
							</td>
						</tr>
						<tr>
							<td width="35%"><b class="red">El Número de la Boleta se Modificará</b>,<div class="clearfix " ></div>está seguro de generar Modificación?
							</td>
							<td><a title="Modificar Boleta" id="btnBoletaEditNumero" class="btn btn-small btn-danger btn-editar-Boleta" type="button" onclick="javascript:AnulacionBoleta({{detalle.idRuc}});"><i class='icon-edit icon-large'></i>Modificar</a>
							</td>
						</tr>
					</table>
					<div>
						<div class="btn-group pull-right ">
							<a title="Listo" id="btnListoDatosBoleta" class="btn btn-small btn-default  btn-edit-boleta-Listo" type="button" onClick="$('#editBoletaForm, .editBoletaForm').slideUp();
							$('#editBoleta, .editBoleta').fadeIn();"><i class='icon-arrow-left icon-large'></i>Listo</a>
						</div>
					</div>
				</div>
				{% if edicion  == 1%}
				<div id="editBoleta" class="editBoleta">
					<div class="btn-group pull-left ">
						<a title="Editar" id="btneditDatosBoleta" class="btn btn-small btn-warning  btn-edit-boleta " type="button" onClick="   $('#editBoleta, .editBoleta').hide();
						$('#editBoletaForm, .editBoletaForm').slideDown();"><i class='icon-edit icon-large'></i>Modificar Boleta</a>
					</div>
				</div>
				{% endif %}





				<form id="formBoleta" method="POST" class="form-horizontal hide" action="{{ path("Caja_PostPago_PrintDetalleBoleta_ImpresionPDF") }}" method="post" target="_blank" >
					<input id ="valoridBoleta" type="text" name="valoridBoleta"  value=" {{detalle.idRuc}}"><br>
				</form>
			</div>
			{% else %}
			<div id="Boleta{{tipoDocumento}}_{{detalle.subEmpresa}}_{{detalle.idRuc}}" class="tab-pane">
				<div style="text-align:center;"><h4><b>DETALLE {{detalle.tipoDocumento|upper}}<span id="numeroBoletaVariable"> {{detalle.numeroDocumento}}</span></b></h4></div>
				<div class="clearfix " ></div>
				<div style="text-align:center;">Sub-Empresa: {{detalle.nombresubEmpresa}}</div>
				<div class="clearfix " ></div>
				<br>
				<div style="text-align:left;">Con Fecha  {{ "now"|date("d-m-Y") }}, Hemos recibido de:</div>
				<br>
				<table border="1"  width="100%" bordercolor="#CED3D5">
					{% if coreApi == 0%}
					<tr height="30px">
						<td style=" background-color: whitesmoke; padding-left: 5px; font-weight: bold " width="20%">NOMBRE PACIENTE</td>
						<td style="padding-left: 5px " width="30%" >{{detalle.nombrePersona|upper}}</td>
						<td style=" background-color: whitesmoke; padding-left: 5px; font-weight: bold " width="20%">RAZA-ESPECIE</td>
						<td style="padding-left: 5px " width="30%" colspan="2">{{detalle.raza|upper}}-{{detalle.especie|upper}}</td>
					</tr>
					<tr height="30px">
						<td style=" background-color: whitesmoke; padding-left: 5px; font-weight: bold " width="20%">NOMBRE CLIENTE</td>
						<td  style="padding-left: 5px " width="30%">{{detalle.nombreCliente|upper}} {{detalle.aPaterno|upper}} {{detalle.aMaterno|upper}}</td>
						<td style=" background-color: whitesmoke;  padding-left: 5px ; font-weight: bold" width="20%">
							{% if detalle.nombreTipoIdentificacionExtranjero  is  defined %}
							{{ detalle.nombreTipoIdentificacionExtranjero }}
							{% endif %}
						</td>
						<td style="padding-left: 5px " width="30%" colspan="2">
							{% if detalle.identificacionExtranjero  is not empty %}
							{{ detalle.identificacionExtranjero }}
							{% else %}
							{{detalle.rut}}-{{detalle.dv}}
							{% endif %}
						</td>
					</tr>
					{%else%}
					<tr height="30px">
						<td style=" background-color: whitesmoke; padding-left: 5px; font-weight: bold " width="20%">NOMBRE PACIENTE</td>
						<td  style="padding-left: 5px " width="30%">{{detalle.nombrePersona|upper}} {{detalle.aPaterno|upper}} {{detalle.aMaterno|upper}}</td>
						<td style=" background-color: whitesmoke;  padding-left: 5px ; font-weight: bold" width="20%">
							{% if detalle.nombreTipoIdentificacionExtranjero  is  defined %}
							{{ detalle.nombreTipoIdentificacionExtranjero }}
							{% endif %}
						</td>
						<td style="padding-left: 5px " width="30%">
							{% if detalle.identificacionExtranjero  is not empty %}
							{{ detalle.identificacionExtranjero }}
							{% else %}
							{{detalle.rut}}-{{detalle.dv}}
							{% endif %}
						</td>
					</tr>
					{% endif %}
					<tr>
						<td colspan="4"  width="100%" >
							<table  border="0" width="100%">
								<tr height="25px">
									<td  width="50%" style=" font-weight: bold; padding-left: 20%"><h5><b>Total</b></h5></td>
									<td  width="50%"  style="  text-align: left; padding-left: 5px">
										<h4> {{ obtenerMonto(detalle.totalCuentaConDescuento) }} </h4>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="30px">
						<td style=" background-color: whitesmoke;  padding-left: 5px; font-weight: bold ">USUARIO</td>
						<td colspan="3" style="padding-left: 5px ">{{detalle.nombreCajero}} {{detalle.aPaternoCajero}} {{detalle.aMaternoCajero}}</td>
					</tr>
				</table>
				<br>
				<div style="text-align:left;"><b>{{empresa.nombreEmpresa}}</b></div>
				<div class="clearfix " ></div>
				<div style="text-align:left;">{{empresa.direccion}}</div>
				<div class="clearfix " ></div>
				<div style="text-align:left;">{{empresa.telefonoFijo}}</div>
				<br>



				<div id="editBoletaForm" class=" editBoletaForm hide">
					<div class="table-header-grey" style="text-align:left;">
						<i class="icon icon-edit icon-large"> </i> Modificación de Boleta
					</div>
					<table  width="100%"class=" table table-bordered table-condensed ">
						<tr>
							<td colspan="2"><b> Modificár Numero De boleta</b>
							</td>
						</tr>
						<tr>
							<td width="35%"><b class="red">El Número de la Boleta se Modificará</b>,<div class="clearfix " ></div>está seguro de generar Modificación?
							</td>
							<td><a title="Modificar Boleta" id="btnBoletaEditNumero" class="btn btn-small btn-danger btn-editar-Boleta" type="button" onclick="javascript:AnulacionBoleta({{detalle.idRuc}});"><i class='icon-edit icon-large'></i>Modificar</a>
							</td>
						</tr>

					</table>
					<div>
						<div class="btn-group pull-right ">
							<a title="Listo" id="btnListoDatosBoleta" class="btn btn-small btn-default  btn-edit-boleta-Listo" type="button" onClick="$('#editBoletaForm, .editBoletaForm').slideUp();
							$('#editBoleta, .editBoleta').fadeIn();"><i class='icon-arrow-left icon-large'></i>Listo</a>
						</div>
					</div>
				</div>


				{% if edicion  == 1%}
				<div id="editBoleta" class="editBoleta">
					<div class="btn-group pull-left ">
						<a title="Editar" id="btneditDatosBoleta" class="btn btn-small btn-warning  btn-edit-boleta " type="button" onClick="   $('#editBoleta, .editBoleta').hide();
						$('#editBoletaForm, .editBoletaForm').slideDown();"><i class='icon-edit icon-large'></i>Modificar Boleta</a>
					</div>
				</div>
				{% endif %}




				<form id="formBoleta" method="POST" class="form-horizontal hide" action="{{ path("Caja_PostPago_PrintDetalleBoleta_ImpresionPDF") }}" method="post" target="_blank" >
					<input id ="valoridBoleta" type="text" name="valoridBoleta"  value=" {{detalle.idRuc}}"><br>
				</form>
			</div>
			{% endif %}
			{%endfor %}
		</div>
	</div>



	<div class="modalAdvertenciaBoleta hide"></div>

	{% endblock %}
