 <div class="btn-group pull-right clonar_{{listadoMediosPago.id}}_{{version}}_{{cantidad}} hideConsolidado">
                                <button type="button" class="btn btn-mini btn-success" onclick="javascript:NuevoFormDinamico('{{listadoMediosPago.id}}','{{version}}');">
                                    <i class="icon-plus"></i></button>
                                <button type="button" class="btn btn-mini btn-danger" onclick="javascript:Eliminar('{{listadoMediosPago.id}}', '{{cantidad}}','{{version}}');">
                                    <i class="icon-minus"></i></button>
</div>