<meta charset="utf-8" />
<title>{{ (title) ? title : '' }} | {{ 'melisa.title'|trans }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="{{ 'meta.description'|trans }}" name="description" />
<meta content="{{ 'meta.author'|trans }}" name="author" />
<meta content="{{ 'meta.keywords'|trans }}" name="keywords" >
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">