<style>
    body .modal {
        width: 98%;
        left: 1%;
        height: 90%;
        margin-right: auto;
        margin-left: 0%;
    }

    body .modal-body {
        padding: 1px;
        max-height: 92%;
        height: 92%;
    }

    body .modal.fade.in {
        top: 5%;
        bottom: 5%;
    }
</style>

<div class="table-header header-color-blue " style="text-align:left;">
    <span class="white"><b>APOYO FACTURACIÓN MES: {{ mes }}</b></span>
</div>
<br/>
<div id="apoyoFacturacion">
    <table width="100%" border="0" cellspacing="0" cellpadding="0"
           class="table table-bordered table-condensed  grey zoom-reporte">
        <tr style=" background-color: #f5f5f5">
            <th> N° Pago Cuenta</th>
            <th> Caja</th>
            <th> Zona</th>
            <th> Tipo Pago</th>
            <th> Fecha pago</th>
            <th> Hora pago</th>
            <th> Paciente</th>
            <th> RUN</th>
            <th> Sexo</th>
            <th> Previsión</th>
            <th> Convenio</th>
            <th> Plan</th>
            <th> Empresa Solicitante</th>
            <th> Rut Empresa Solicitante</th>
            <th> Monto Afecto</th>
            <th> IVA</th>
            <th> Monto Exento</th>
            <th> Total</th>
            <th> Monto Medio de Pago</th>
            <th> Diferencia</th>
            <th> Forma Pago Copago</th>
            <th> Receptor Pago</th>
            <th> Boleta</th>
            <th> Bono/RVD</th>
            <th> Copago</th>
            <th> Seguro Complementario</th>
            <th> N° Tarjeta</th>
            <th> Nombre Sociedad</th>
            <th> Folio</th>
            <th> Estado</th>
        </tr>
        <tbody>
        {% for registro in registros %}
            {% set signoDiferencia = '+' %}
            {% if registro.idTipoSentidoDiferencia == 2 %}
                {% set signoDiferencia = '-' %}
            {% endif %}
        <tr>
            <td>{{ registro.idPagoCuenta}}</td>
            <td>{% if registro.idPagoWeb is not null %}
                    PagoWeb
                {% else %}
                    {{ registro.idCaja}}
                {% endif %}
            </td>
            <td>{{ registro.ambito}}</td>
            <td>{{ registro.formaPagoDescripcion}}</td>
            <td>{{ registro.fechaPago|date ('d-m-Y')}}</td>
            <td>{{ registro.fechaPago|date ('h:m')}}</td>
            <td>{{ registro.nombrePnaturalPaciente|upper }} {{ registro.apellidoPaternoPaciente|upper }} {{ registro.apellidoMaternoPaciente|upper}}</td>
            <td>{{ registro.rutPaciente}}</td>
            <td>{{ registro.sexo}}</td>
            <td>{{ registro.nombrePrevision}}</td>
            <td>{{ registro.nombreConvenio}}</td>
            <td>{{ registro.nombrePlan}}</td>
            <td>{{ registro.nombreEmpresaSolicitante}}</td>
            <td>
                {% if registro.nombreEmpresaSolicitante is not empty %}
                    {{ registro.rutEmpresaSolicitante}}-{{ registro.dvEmpresaSolicitante}}
                {% endif %}
            </td>
            <td>{{ obtenerMonto(registro.montoAfectoSinIva)}}</td>
            <td>{{ obtenerMonto(registro.montoIva)}}</td>
            <td>{{ obtenerMonto(registro.montoExento)}}</td>
            <td>{{ obtenerMonto(registro.precioDiferenciaPagoCuenta )}}</td>
            <td>
                {% if registro.formaPagoCopago is not null %}
                    {{ registro.formaPagoCopago }}
                {% endif %}
            </td>
            <td>{{ obtenerMonto(registro.montoTotalDocumento )}}</td>
            <td>
                {% if registro.totalDiferencia is null %}
                    {{ obtenerMonto( 0 ) }}
                {% else %}
                {{ signoDiferencia }} {{ obtenerMonto(registro.totalDiferencia) }}
                {% endif %}
            </td>
            <td>{% if registro.idPagoWeb is not null %}
                    Pago Web
                {% else %}
                    {{ registro.nombrePnaturalCajero|upper }} {{ registro.apellidoPaternoCajero|upper }} {{ registro.apellidoMaternoCajero|upper}}
                {% endif %}
            </td>
            <td>{{ registro.numeroBoleta}}</td>
            <td>
                {% if registro.numeroDocumento == null %}
                    {{ registro.numeroDocumentoGeneral}}
                {% else %}
                    {{ registro.numeroDocumento}}
                {% endif %}
            </td>
            <td>
                {% if registro.copagoImed != 0 or registro.copagoImed is not null %}
                    {{ obtenerMonto(registro.copagoImed)}}
                {% endif %}
            </td>
            <td>
                {% if registro.montoSeguroComplementario != 0  %}
                    {{ obtenerMonto(registro.montoSeguroComplementario)}}
                {% endif %}
            </td>
            <td>{{ registro.ultimos4Numeros}}</td>
            <td>{{ registro.nombreSucursal}}</td>
            <td>{% if registro.idPagoWeb is not null %}
                    PagoWeb
                {% else %}
                    {{ registro.idCaja}}
                {% endif %}
            </td>
            <td>
                {% if registro.fechaAnulacion is null %}
                    {{ 'Pagada' }}
                {% else %}
                    {{ 'Anulada' }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
</div>
<link rel="stylesheet" href="{{ asset('bundles/hermes/acev12/css/ui.jqgrid.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/hermes/acev12/css/uncompressed/jqgrid-informes.css') }}"/>
<script src="{{ asset('bundles/hermes/acev12/js/jqGrid/i18n/grid.locale-es.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/hermes/acev12/js/jqGrid/jquery.jqGrid.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.zoom-reporte').css('zoom', '0.6');

        $('.btn-print').on('click', function (e) {
            e.preventDefault();
            $('#loading').show();
            window.location =  "{{ path('Caja_Supervisor_ApoyoFacturacion_Descargas', {'mes':mes}) }}";
            setTimeout( function() {
                $('#loading').hide();
            }, 3000);
        });
    });
</script>
