{% extends 'RecaudacionBundle:Supervisor:sublayout.html.twig' %}
{% block contenedorMantenedor -%}
    <link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
    <style>
                .datepicker table {
                    width: 100%;
                }
                .datepicker table tr td span {
                    width: 30%;
                }
    </style>
    <div class="table-header">
        Reporte Apoyo Facturación mensual
        <div id="div-volver" class="btn-group pull-right">
            <a id="volverListado" class="btn btn-mini" href="{{ path('Caja_Supervisor') }}">
                <i class="icon-arrow-left"></i> Volver
            </a>
        </div>
    </div>
    <br>
    <div id="filtro">
        <table align='center' width="40%">
            <tr>
                <th align="left" width="70">Mes </th>
                <td style=" padding: 10px 0 0 0">{{ form_widget(form.mes, { 'attr': {'class': 'date-picker span3', 'readonly':'readonly'} }) }}</td>

            </tr>
            <tr>
                <td colspan="2"><br>
                    <div style="width:350px" align="center">{{ form_rest(form) }}</div>
                </td>
                <td>
                    <div style="text-align: left;"> <span id="loading" class="hide"><i class='icon-spinner blue icon-spin icon-5x'></i></span></div>
                </td>
            </tr>
        </table>
        {# Pie de página #}
        <div class="table-footer">
            <div class="btn-group pull-right">
                <a class="btn btn-mini" href="{{ path('Caja_Supervisor') }}">
                    <i class="icon-arrow-left"></i> Volver
                </a>
                <a class="btn btn-mini btn-info btn-excel informacion btn1" id="formInfoExcel"
                   onclick="executeReporte();">
                    <i class="icon-eye-open"></i> Reporte Apoyo Facturación
                </a>
            </div>
        </div>
    </div>
    <div class="modalSinCerrar hide"></div>
    <div class="modalVer hide" id="modalVer"></div>
{% endblock %}
{% block scripts -%}
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('js/uncompressed/Caja/fnCommon.js') }}"></script>
    <script src="{{ asset('bundles/hermes/acev12/js/table2excel/jquery.table2excel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/date-time/locales/bootstrap-datepicker.es.js') }}" charset="UTF-8"></script>
    <script type="text/javascript">
        function executeReporte() {
            let datos = {
                mes: $("#apoyo_facturacion_type_mes").val()
            };

            $('#loading').show();

            $.ajax({
                    type: "get",
                    url: "{{ path('Caja_Supervisor_ApoyoFacturacion_Informe') }}",
                    data: datos,
                    success: function (data) {
                        modalInforme(data);
                        $('#loading').hide();
                    }
                }
            )
        }

        function modalInforme(response) {
            $(".modalVer").html('');
            bootbox.dialog(response, [{
                "label": "<i class='icon-arrow-left'></i> Volver",
                "class": "btn btn-mini"
            }, {
                "label": "<i class='icon-download-alt'></i> Imprimir Excel",
                "class": "btn btn-mini btn-success btn-print"
            }
            ]);
        }
        $(document).on('ready', function(){
            $('.menuSUpervisor').removeClass('active');
            $('#ReporteApoyoFacturacion').addClass('active');

            $('#apoyo_facturacion_type_mes').datepicker({
                viewMode: "months",
                format: "mm-yyyy",
                minViewMode: "months",
                minMode: "year",
                justMonth: true,
                endDate: '0',
                language: "es",
                todayHighlight: true,
                autoclose: true
            });

            {# Ocultamos el botón de aceptar mientras no se hayan seleccionado la fecha #}
            $('.btn1').hide();
            {# Detecta algún cambio en la fecha #}
            $("#apoyo_facturacion_type_mes").change(function(){
                ValidaEntrada();
            });

            function ValidaEntrada(){
                if(($("#apoyo_facturacion_type_mes").val() != "")) {
                    muestraBoton()
                }
            }

            {# Función que muestra el botón aceptar una vez que el usuario haya seleccionado la fecha #}
            function muestraBoton(){
                $('.btn1').show();
            }

        });

    </script>
{% endblock %}