{% extends 'RecaudacionBundle:Supervisor:layoutformulariosajax.html.twig' %}
{% block body -%}
<div class="table-header">
	Editar Ubicación Caja
</div>
<form id="edit_form" class="form-horizontal" action="{{ path('Caja_Supervisor_UbicacionCaja_update', { 'id': entity.id }) }}" method="post">
	<input type="hidden" name="_method" value="post" />
	<table class="table table-bordered table-condensed table-hover">
		<tr>
			<th>
				{{ form_label(edit_form.nombre) }}
			</th>
			<td>
				{{ form_widget(edit_form.nombre) }}
				<div class="clearfix"></div>
				{% for error in edit_form.nombre.vars.errors %}
				<span class="text-error">
					{{ error.message }}
				</span>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>
				{{ form_label(edit_form.idSucursal) }}
			</th>
			<td>
				{{ form_widget(edit_form.idSucursal) }}
				<div class="clearfix"></div>
				{% for error in edit_form.idSucursal.vars.errors %}
				<span class="text-error">
					{{ error.message }}
				</span>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>
				{{ form_label(edit_form.descripcion) }}
			</th>
			<td>
				{{ form_widget(edit_form.descripcion) }}
				<div class="clearfix"></div>
				{% for error in edit_form.descripcion.vars.errors %}
				<span class="text-error">
					{{ error.message }}
				</span>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>
				{{ form_label(edit_form.idEstado) }}
			</th>
			<td>
				{{ form_widget(edit_form.idEstado) }}
				<div class="clearfix"></div>
				{% for error in edit_form.idEstado.vars.errors %}
				<span class="text-error">
					{{ error.message }}
				</span>
				{% endfor %}
			</td>
		</tr>
	</table>
	{{ form_rest(edit_form) }}
</form>
{% endblock %}
