
{% extends 'login.html.twig' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">{{"login.title.welcome"|trans}}</h5>
                    <p class="text-muted">{{ "login.subtitle" | trans }}</p>
                </div>
                <div class="p-2 mt-4">
                    <form method="post" action="{{ path('app_login') }}">

                        <div class="mb-3">
                            <label for="username" class="form-label">{{ 'login.label.username'|trans }}</label>
                            <input type="text" class="form-control"
                                   id="username"
                                   name="_username"
                                   placeholder="{{ 'login.placeholder.username'|trans }}"
                                   value="{{ last_username }}">
                        </div>

                        <div class="mb-3">
                            <div class="float-end">
                                <a href="{{ path('app_forgot_password_request') }}" class="text-muted"> {{'login.action.forgot_password'|trans}}</a>

                            </div>
                            <label class="form-label" for="password-input">{{ 'login.label.password'|trans }}</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                                <input type="password" class="form-control pe-5 password-input"
                                       id="password-input"
                                       name="_password"
                                       placeholder="{{ 'login.placeholder.password'|trans }}">
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted shadow-none password-addon"
                                        type="button"
                                        id="password-addon">
                                    <i class="ri-eye-fill align-middle"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on">
                            <label class="form-check-label"  for="remember_me">{{ 'login.label.remember_me'|trans }}</label>
                        </div>

                        {# Token CSRF requerido por Symfony Security #}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit">{{ 'login.action.sign_in'|trans }}</button>
                        </div>


                    </form>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->


    </div>
</div>

{% endblock %}