{% set cajaExiste = 0 %}
{% set cajagExiste = 0 %}
{% for c in cajac %}
    {% set cajaExiste = cajaExiste + 1 %}
{% endfor %}
{% for c in cajaAnul %}
    {% set cajaExiste = cajaExiste + 1 %}
{% endfor %}
{% for c in caja %}
    {% set cajaExiste = cajaExiste + 1 %}
{% endfor %}

{% for c in cajag %}
    {% set cajagExiste = cajagExiste + 1 %}
{% endfor %}
{% for c in cajaAnulg %}
    {% set cajagExiste = cajagExiste + 1 %}
{% endfor %}

{% set cajaExisteAnul = 0 %}
{% set cajagExisteAnul = 0 %}

{% for c in cajaAnul %}
    {% set cajaExisteAnul = cajaExisteAnul + 1 %}
{% endfor %}
{% for c in cajaAnulg %}
    {% set cajagExisteAnul = cajagExisteAnul + 1 %}
{% endfor %}

{# MEDIOS PAGO VARS #}
{% set sumaTotal = 0 %}
{% set sumaBonificacion = 0 %}
{% set sumaSeguro = 0 %}
{% set sumaCopago = 0 %}
{% set sumaEfectivo = 0 %}
{% set sumaCheque = 0 %}
{% set sumaChequeD = 0 %}
{% set sumaChequeF = 0 %}
{% set sumaTCredito = 0 %}
{% set sumaTDebito = 0 %}
{% set sumaGratuidad = 0 %}
{% set sumaBonom = 0 %}

{# GARANTIA VARS #}
{% set sumaTotalG = 0 %}
{% set sumaGarantia = 0 %}
{% set sumaGarantiaL = 0 %}
{% set sumaGarantiaI = 0 %}

{% set canAnulGarantiaI = 0 %}
    {% set canAnulPago = 0 %}
        {% if cajaExiste > 0 or cajagExiste > 0 %}
            <style>
                body .modal {
                    width: 98%;
                    left: 1%;
                    height: 90%;
                    margin-right: auto;
                    margin-left: 0%;
                }

                body .modal-body {

                    padding: 1px;
                    max-height: 92%;
                    height: 92%;
                }

                body .modal.fade.in {
                    top: 5%;
                    bottom: 5%;
                }
            </style>
        {% else %}
            <style>
                body .modal {
                    width: 98%;
                    left: 1%;
                    height: 40%;
                    margin-right: auto;
                    margin-left: 0%;
                }

                body .modal-body {
                    padding: 1px;
                    max-height: 82%;
                    height: 82%;
                }

                body .modal.fade.in {
                    top: 20%;
                }
            </style>
        {% endif %}

<div class="table-header header-color-blue " style="text-align:left;">
    <span class="white"><b>INFORME DE CAJA:</b></span>
</div>
<div class="table-header-grey" style="text-align:left;">
    <i class="icon-user text-left space"> </i> Información Cajero
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-condensed  grey">
    <tr>
        <th width="6%" style=" background-color: whitesmoke ">
            <strong>
                Sin Identificación
            </strong> :
        </th>
        <td width="10%">
            PAGOS WEB
        </td>
        <th width="8%" style=" background-color: whitesmoke ">Cajero:</th>
        <td width="36%">
            <span>-</span>
        </td>
        <th width="8%" style=" background-color: whitesmoke ">Fecha Caja:</th>
        <td width="12%">
            {{ oFecha|date('d-m-Y') }}
        </td>
        <th width="10%" style=" background-color: whitesmoke ">Estado Cajas:</th>
        <td width="10%">
            -
        </td>
    </tr>
</table>

    <br>

{% if cajaExiste > 0 %}
    <div class="table-header-grey" style="text-align:left;">
        <i class="icon-dollar text-left space"> </i> Pagos
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0"
           class="table table-bordered table-condensed  grey zoom-pagos">
        <tr>
            <th colspan="9" width="47%" style=" background-color: cornsilk; font-size: larger">Pagos:</th>
            <th colspan="7" width="47%" style=" background-color: azure; font-size: larger">Detalle Copagos y
                Particulares:
            </th>
            <th width="6%"></th>
        </tr>
        <tr style=" background-color: #f5f5f5">
            {% if coreApi == 1 %}
                <th> Documento P.</th>
                <th> Paciente</th>
            {% else %}
                <th> Rut C.</th>
                <th>Cliente
                </th>
            {% endif %}
            <th>Monto
            </th>
            <th>F.Pago
            </th>
            <th>Financiador
            </th>
            <th>N° Bono
            </th>
            <th>Bonif.
            </th>
            <th>Seguro
            </th>
            <th>Copago
            </th>
            <th width="4%">Boleta
            </th>
            <th>N° Doc
            </th>
            <th>Efectivo
            </th>
            <th>Cheque
            </th>
            <th>T. Crédito
            </th>
            <th>T. Débito
            </th>
            <th>Gratuidad
            </th>
            <th>Profesional
            </th>
        </tr>
        <tbody>
        {% for c in cajac %}
            {# DIFERENCIAR SI TIENE BOLETA Y VALIDAR QUE SEA UNA BOLETA ACTIVA #}
            {% if c.boleta %}
                {# t TIENE BOLETA ACTIVA #}
                <tr>
                    <td>
                        <strong>
                            [ {% if c.nombreDocumento is not null %}
                                {{ c.nombreDocumento }}
                            {% else %}
                                Sin identificación
                            {% endif %} ] </strong> /

                        {{ c.identificacionExtranjero }}
                    </td>
                    <td>{{ c.apellidoP }} {{ c.nombre }}<span>.</span></td>
                    <td>
                        <div style="text-align: right">
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.monto) }}
                                    </div>
                                    <div class="clearfix"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if fp.nombreForma %}
                                    {{ fp.nombreForma }}
                                    <div class="clearfix"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td> {% if c.convenio %} {{ c.convenio }}{% else %}{{ c.financiador }}  {% endif %}  </td>
                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if  fp.idFormaPago != 5 and fp.idFormaPago != 3 %}
                                    -
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if  fp.idFormaPago == 5 %}
                                    {{ fp.numeroDocumentoManual }}
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if fp.idFormaPago == 3 %}
                                    {{ fp.numeroDocumentoElectronico }}
                                    <div class="clearfix"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if   fp.idFormaPago != 5 %}
                                    -
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if fp.idFormaPago == 5 %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.montoBonoElectronico) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    {% set sumaBonificacion = sumaBonificacion + fp.montoBonoElectronico %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </td>


                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if   fp.idFormaPago != 3 %}
                                    -
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if fp.idFormaPago == 3 %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.seguroComplementario) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    {% set sumaSeguro = sumaSeguro + fp.seguroComplementario %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if   fp.idFormaPago != 3 %}
                                    -
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if fp.idFormaPago == 3 %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.copagoImed) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    {% set sumaCopago = sumaCopago + fp.copagoImed %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    {# FIN PAGOS #}
                    {# COPAGO Y PARTICULARES #}
                    <td>
                        {% if c.boleta %}
                            {% for nb in numerosBoletas if nb.idPagoCuenta  == c.idPagoCuenta %}
                                {% if nb.boleta %}
                                    {{ nb.boleta }}
                                    <div class="clearfix"></div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <em>Sin Boleta</em>
                        {% endif %}
                    </td>
                    <td>
                        {% for d in documentos %}
                            {% if c.idPagoCuenta == d.idPagoCuenta %}
                                {% if d.documento %}
                                    {{ d.documento }}
                                    <div class="clearfix"></div>
                                {% else %}
                                    -
                                    <div class="clearfix"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if   fp.idFormaPago != 1 %}
                                    -
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if fp.idFormaPago == 1 %}
                                    {% set sumaEfectivo = sumaEfectivo + fp.monto %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.monto) }}
                                    </div>
                                    <div class="clearfix"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if  fp.idFormaPago != 7 and fp.idFormaPago != 8 %}
                                    -
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if  fp.idFormaPago == 7 %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.montoCheques) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    {% set sumaCheque = sumaCheque + fp.montoCheques %}
                                    {% set sumaChequeF = sumaChequeF + fp.montoCheques %}
                                {% endif %}
                                {% if fp.idFormaPago == 8 %}
                                    {% set sumaCheque = sumaCheque + fp.montoCheques %}
                                    {% set sumaChequeD = sumaChequeD + fp.montoCheques %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.montoCheques) }}
                                    </div>
                                    <div class="clearfix"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if ((fp.idFormaPago != 13) or ( (fp.idFormaPago == 13) and fp.tarjetaTipo in ["DB","VD","VP"])) %}
                                        -
                                        <div class="clearfix"></div>
                                {% endif %}
                                {% if ((fp.idFormaPago == 13) and (fp.tarjetaTipo not in ["DB","VD","VP"])) %}
                                        {% set sumaTCredito = sumaTCredito + fp.monto %}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.monto) }}
                                        </div>
                                        <div class="clearfix"></div>

                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for fp in formaPago %}

                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if ((fp.idFormaPago != 13) or ((fp.idFormaPago == 13) and fp.tarjetaTipo not in ["DB","VD","VP"])) %}
                                        -
                                        <div class="clearfix"></div>
                                {% endif %}
                                {% if ((fp.idFormaPago == 13) and (fp.tarjetaTipo in ["DB","VD","VP"])) %}
                                    {% set sumaTDebito = sumaTDebito + fp.monto %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.monto) }}
                                    </div>
                                        <div class="clearfix"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for fp in formaPago %}
                            {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                {% if fp.idFormaPago != 2 %}
                                    -
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if fp.idFormaPago == 2 %}
                                    {% set sumaGratuidad = sumaGratuidad + fp.monto %}
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(fp.monto) }}
                                    </div>
                                    <div class="clearfix"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>

                    {# FIN COPAGO Y PARTICULARES #}
                    {# DIFERENCIA O PROFESIONAL #}
                    <td>
                        {% if c.esExterno == 0 %}
                            {{ c.apellidoPaternoMedico }} {{ c.nombreMedico[:1] ~ '...' }}<span>.</span>
                        {% else %}
                            {{ c.profesionalExterno }}
                        {% endif %}
                    </td>
                    {# FIN DIFERENCIA O PROFESIONAL #}
                </tr>
                {# FIN TIENE BOLETA ACTIVA #}
            {% endif %}
            {% set sumaTotal = sumaTotal + c.monto %}
        {% endfor %}

        {% for c in cajaAnul %}
            {% set canAnulPago = canAnulPago +1 %}
            <tr style=" background-color: rgb(238, 169, 169);">
                <td>
                    <strong>
                        [ {% if c.nombreDocumento is not null %}
                            {{ c.nombreDocumento }}
                        {% else %}
                            Sin identificación
                        {% endif %} ] </strong> /
                    {{ c.identificacionExtranjero }}
                </td>
                <td>{{ c.apellidoP }} {{ c.nombre }}<span>.</span>
                </td>
                <td>
                    <div style=" text-align: right ">
                        {{ obtenerMonto(c.monto) }}
                    </div>
                </td>
                <td>
                    {% for fp in formaPago %}
                        {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                            {% if fp.nombreForma %}
                                {{ fp.nombreForma }}
                                <div class="clearfix"></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td> {% if c.convenio %} {{ c.convenio }}{% else %}{{ c.financiador }}  {% endif %}  </td>
                <td colspan="12">
                    <div style="text-align: center; font-weight: bolder "><b><em>PAGO ANULADO</em></b></div>
                </td>
            </tr>
        {% endfor %}

        {% set var1CicloCaja = null %}
        {% for c in caja %}
            {% if c.boleta %}
                {% if c.estadoBoleta != estadoBoletaActiva %}
                {% endif %}
            {% else %}
                {% if var1CicloCaja != c.idPaciente %}
                    {# BONO ELECTRONICO #}
                    <tr>
                        <td>
                            <strong>
                                [ {% if c.nombreDocumento is not null %}
                                    {{ c.nombreDocumento }}
                                {% else %}
                                    Sin identificación
                                {% endif %} ] </strong> /
                            {{ c.identificacionExtranjero }}
                        </td>
                        <td>{{ c.apellidoP }} {{ c.nombre }}<span>.</span></td>
                        <td>
                            <div style=" text-align: right ">
                                {% for fp in formaPago %}
                                    {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                        {# {% set sumaEfectivo = sumaEfectivo + fp.monto%} #}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.monto) }}
                                            {# {{sumaEfectivo}} #}
                                        </div>
                                        <div class="clearfix"></div>
                                    {% endif %}
                                {% endfor %}
                                {# {{ obtenerMonto(c.monto) }} #}
                            </div>
                        </td>
                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if fp.nombreForma %}
                                        {{ fp.nombreForma }}
                                        <div class="clearfix"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td> {% if c.convenio %} {{ c.convenio }}{% else %}{{ c.financiador }}  {% endif %}  </td>
                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if  fp.idFormaPago != 5 and fp.idFormaPago != 3 %}
                                        -
                                        <div class="clearfix"></div>
                                    {% endif %}
                                    {% if  fp.idFormaPago == 5 %}
                                        {{ fp.numeroDocumentoManual }}
                                        <div class="clearfix"></div>

                                    {% endif %}
                                    {% if fp.idFormaPago == 3 %}
                                        {{ fp.numeroDocumentoElectronico }}
                                        <div class="clearfix"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if fp.idFormaPago != 3 and fp.idFormaPago != 5 %}
                                        -
                                        <div class="clearfix"></div>
                                    {% endif %}
                                    {% if fp.idFormaPago == 3 or fp.idFormaPago == 5 %}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.montoBonoElectronico) }}
                                        </div>
                                        <div class="clearfix"></div>
                                        {% set sumaBonificacion = sumaBonificacion + fp.montoBonoElectronico %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if   fp.idFormaPago != 3 %}
                                        -
                                        <div class="clearfix"></div>
                                    {% endif %}
                                    {% if fp.idFormaPago == 3 %}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.seguroComplementario) }}
                                        </div>
                                        <div class="clearfix"></div>
                                        {% set sumaSeguro = sumaSeguro + fp.seguroComplementario %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if   fp.idFormaPago != 3 %}
                                        -
                                        <div class="clearfix"></div>
                                    {% endif %}
                                    {% if fp.idFormaPago == 3 %}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.copagoImed) }}
                                        </div>
                                        <div class="clearfix"></div>
                                        {% set sumaCopago = sumaCopago + fp.copagoImed %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        {# FIN PAGOS #}
                        {# COPAGO Y PARTICULARES #}
                        <td>
                            {% if c.boleta %}
                                {{ c.boleta }}
                            {% else %}
                                <em>Sin Boleta</em>
                            {% endif %}
                        </td>

                        {# NÚMERO DOCUMENTO #}
                        <td>
                            {% for d in documentos %}
                                {% if c.idPagoCuenta == d.idPagoCuenta %}
                                    {# {{ dump(d.numeroDocumentoGeneral) }} #}
                                    {% if d.numeroDocumentoGeneral %}
                                        {{ d.numeroDocumentoGeneral }}
                                        <div class="clearfix"></div>
                                    {% elseif d.documento %}
                                        {{ d.documento }}
                                        <div class="clearfix"></div>
                                    {% else %}
                                        -
                                        <div class="clearfix"></div>
                                    {% endif %}
                                {% endif %}

                            {% endfor %}
                        </td>

                        {# EFECTIVO #}
                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if   fp.idFormaPago != 1 %}
                                        -
                                        <div class="clearfix"></div>
                                    {% endif %}
                                    {% if fp.idFormaPago == 1 %}
                                        {% set sumaEfectivo = sumaEfectivo + fp.monto %}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.monto) }}
                                        </div>
                                        <div class="clearfix"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        {# CHEQUE #}
                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if  fp.idFormaPago != 7 and fp.idFormaPago != 8 %}
                                        -
                                        <div class="clearfix"></div>
                                    {% endif %}

                                    {% if  fp.idFormaPago == 7 %}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.montoCheques) }}
                                        </div>
                                        <div class="clearfix"></div>
                                        {% set sumaCheque = sumaCheque + fp.montoCheques %}
                                        {% set sumaChequeF = sumaChequeF + fp.montoCheques %}
                                    {% endif %}

                                    {% if fp.idFormaPago == 8 %}
                                        {% set sumaCheque = sumaCheque + fp.montoCheques %}
                                        {% set sumaChequeD = sumaChequeD + fp.montoCheques %}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.montoCheques) }}
                                        </div>
                                        <div class="clearfix"></div>
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                        </td>

                        {# T CREDITO #}
                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if ((fp.idFormaPago != 13) or ( (fp.idFormaPago == 13) and fp.tarjetaTipo in ["DB","VD","VP"])) %}
                                            -
                                            <div class="clearfix"></div>
                                    {% endif %}
                                    {% if ((fp.idFormaPago == 13) and ( fp.tarjetaTipo not in ["DB","VD","VP"])) %}
                                            {% set sumaTCredito = sumaTCredito + fp.monto %}
                                            <div style=" text-align: right ">
                                                {{ obtenerMonto(fp.monto) }}
                                            </div>
                                            <div class="clearfix"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        {# T DEBITO #}
                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if ((fp.idFormaPago != 13) or ((fp.idFormaPago == 13) and fp.tarjetaTipo not in ["DB","VD","VP"])) %}
                                            -
                                            <div class="clearfix"></div>
                                    {% endif %}
                                    {% if ((fp.idFormaPago == 13) and (fp.tarjetaTipo in ["DB","VD","VP"])) %}
                                            {% set sumaTDebito = sumaTDebito + fp.monto %}
                                            <div style=" text-align: right ">
                                                {{ obtenerMonto(fp.monto) }}
                                            </div>
                                            <div class="clearfix"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        {# GRATUIDAD #}
                        <td>
                            {% for fp in formaPago %}
                                {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                                    {% if fp.idFormaPago != 2 %}
                                        -
                                        <div class="clearfix"></div>
                                    {% endif %}
                                    {% if fp.idFormaPago == 2 %}
                                        {% set sumaGratuidad = sumaGratuidad + fp.monto %}
                                        <div style=" text-align: right ">
                                            {{ obtenerMonto(fp.monto) }}
                                        </div>
                                        <div class="clearfix"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        {# FIN COPAGO Y PARTICULARES #}
                        {# DIFERENCIA #}
                        <td>
                            {% if c.esExterno == 0 %}
                                {{ c.apellidoPaternoMedico }} {{ c.nombreMedico[:1] ~ '...' }}<span>.</span>
                            {% else %}
                                {{ c.profesionalExterno }}
                            {% endif %}
                        </td>
                        {# FIN DIFERENCIA #}
                    </tr>
                    {# FIN SI ES BOLETA Y ACTIVA #}

                    {# {% set sumaTotal = sumaTotal + c.monto%} #}
                    {% set var1CicloCaja = c.idPagoCuenta %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% set sumaTotal = 0 %}
        {% for c in caja %}
            {% if c.boleta == null and (c.estadoBoleta == 1 or c.estadoBoleta == null) %}
                {% set sumaTotal = sumaTotal + c.monto %}
            {% endif %}

            {% if c.boleta != null and c.estadoBoleta == 3 %}
                {% set sumaTotal = sumaTotal + c.monto %}
            {% endif %}
        {% endfor %}
        <tr>
            <th colspan="2" style=" background-color: cornsilk; font-size: larger ">Total:</th>
            <th colspan="1" style=" background-color: cornsilk; font-size: larger  ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaTotal) }}
                </div>
            </th>
            <th colspan="3"></th>
            {% set sumaTotalBonoElectronicoManual = sumaBonificacion + sumaBonom %}
            <th colspan="1" style=" background-color: cornsilk; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaTotalBonoElectronicoManual) }}
                </div>
            </th>
            <th colspan="1" style=" background-color: cornsilk; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaSeguro) }}
                </div>
            </th>
            <th colspan="1" style=" background-color: cornsilk; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaCopago) }}
                </div>
            </th>
            <th colspan="2"></th>
            <th colspan="1" style=" background-color: azure; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaEfectivo) }}
                </div>
            </th>
            <th colspan="1" style=" background-color: azure; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaCheque) }}
                </div>
            </th>
            <th colspan="1" style=" background-color: azure; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaTCredito) }}
                </div>
            </th>
            <th colspan="1" style=" background-color: azure; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaTDebito) }}
                </div>
            </th>
            <th colspan="1" style=" background-color: azure; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaGratuidad) }}
                </div>
            </th>
            <th colspan="1"></th>
        </tr>
        </tbody>
    </table>
{% endif %}
{% if cajagExiste > 0 %}
    <div class="table-header-grey" style="text-align:left;">
        <i class="icon-dollar text-left space"> </i> Garantías
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0"
           class="table table-bordered table-condensed  grey zoom-pagos">
        <tr>
            <th colspan="4" width="50%" style=" background-color: cornsilk; font-size: larger ">Garantías:</th>
            <th colspan="4" width="50%" style=" background-color: azure; font-size: larger  ">Detalle Monto:</th>
        </tr>
        <tr style=" background-color: #f5f5f5">
            <th>Documento P.
            </th>
            <th>Paciente
            </th>
            <th>Monto
            </th>
            <th>F.Pago
            </th>
            <th colspan="2">N° Doc
            </th>
            <th>Monto
            </th>
            <th width="7%">Profesional
            </th>
        </tr>
        <tbody>
        {% for c in cajag %}
            {# GARANTIAS #}
            <tr>
                <td>
                    <strong>
                        [ {% if c.nombreDocumento is not null %}
                            {{ c.nombreDocumento }}
                        {% else %}
                            Sin identificación
                        {% endif %} ] </strong> /
                    {{ c.identificacionExtranjero }}
                </td>
                <td>{{ c.apellidoP }} {{ c.nombre }}<span>.</span>
                </td>
                <td>
                    <div style=" text-align: right ">
                        {{ obtenerMonto(c.monto) }}
                    </div>
                </td>
                <td>
                    {% for fp in formaPagog %}
                        {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                            {% if fp.nombreForma %}
                                {{ fp.nombreForma }}
                                <div class="clearfix"></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                {# FIN GARANTIAS #}
                {# DETALLES #}
                <td colspan="2">
                    {% for d in documentosg %}
                        {% if c.idPagoCuenta == d.idPagoCuenta %}
                            {% if d.documento %}
                                {{ d.documento }}
                                <div class="clearfix"></div>
                            {% else %}
                                -
                                <div class="clearfix"></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for fp in formaPagog %}
                        {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                            {% if  fp.idFormaPago != 9 and fp.idFormaPago != 10 and fp.idFormaPago != 14 and fp.idFormaPago != 13 %}
                                -
                                <div class="clearfix"></div>
                            {% endif %}
                            {% if  fp.idFormaPago == 9 or fp.idFormaPago == 14 or fp.idFormaPago == 13 %}
                                <div style=" text-align: right ">
                                    {{ obtenerMonto(fp.monto) }}
                                </div>
                                <div class="clearfix"></div>
                                {% set sumaGarantia = sumaGarantia + fp.monto %}
                                {% set sumaGarantiaL = sumaGarantiaL + fp.monto %}
                            {% endif %}
                            {% if fp.idFormaPago == 10 %}
                                {% set sumaGarantia = sumaGarantia + fp.monto %}
                                {% set sumaGarantiaI = sumaGarantiaI + fp.monto %}
                                <div style=" text-align: right ">
                                    {{ obtenerMonto(fp.monto) }}
                                </div>
                                <div class="clearfix"></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                {# FIN DETALLES #}
                {# DIFERENCIA #}
                <td>
                    {% if c.esExterno == 0 %}
                        {{ c.apellidoPaternoMedico }} {{ c.nombreMedico[:1] ~ '...' }}<span>.</span>
                    {% else %}
                        {{ c.profesionalExterno }}
                    {% endif %}
                </td>
                {# FIN DIFERENCIA #}
            </tr>

            {% set sumaTotalG = sumaTotalG + c.monto %}
        {% endfor %}
        {% for c in cajaAnulg %}
            {% set canAnulGarantiaI = canAnulGarantiaI +1 %}
            <tr style="background-color: rgb(238, 169, 169);">
                <td>
                    <strong>
                        [ {% if c.nombreDocumento is not null %}
                            {{ c.nombreDocumento }}
                        {% else %}
                            Sin identificación
                        {% endif %} ] </strong> /
                    {{ c.identificacionExtranjero }}
                </td>
                <td>{{ c.apellidoP }} {{ c.nombre }}<span>.</span>
                </td>
                <td>
                    <div style=" text-align: right ">
                        {{ obtenerMonto(c.monto) }}
                    </div>
                </td>
                <td>
                    {% for fp in formaPago %}
                        {% if c.idPaciente == fp.idPaciente and c.idPagoCuenta == fp.idPagoCuenta %}
                            {% if fp.nombreForma %}
                                {{ fp.nombreForma }}
                                <div class="clearfix"></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td colspan="8">
                    <div style="text-align: center; font-weight: bolder "><b><em>GARANTÍA ANULADA</em></b></div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="2" style=" background-color: cornsilk; font-size: larger ">Total:</th>
            <th colspan="1" style=" background-color: cornsilk; font-size: larger  ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaTotalG) }}
                </div>
            </th>
            <th colspan="3"></th>
            <th colspan="1" style=" background-color: azure; ">
                <div style=" text-align: right ">
                    {{ obtenerMonto(sumaGarantia) }}
                </div>
            </th>
            <th colspan="1"></th>
        </tr>
        </tbody>
    </table>
{% endif %}
{# una vez que esté pagada la garantia ingesar codigo aqui #}
{% set anulTotal = canAnulGarantiaI  + canAnulPago %}
{% if sumaTotal| number_format ( 2 ,  '.' ,  '' ) == 0 and sumaTotalG| number_format ( 2 ,  '.' ,  '' ) ==0   and   anulTotal > 1 %}

    <div class="alert alert-warning CajaCerrada">
        <strong>CAJA REGISTRA SOLO MOVIMIENTOS ANULADOS</strong>
        <div class="clearfix"></div>
        Todos los pagos y/o garantías de esta caja se encuentran anulados
    </div>
    {% if cajaExisteAnul == 0 and cajagExisteAnul == 0 %}
        <script type="text/javascript">
            $('.btn-print').hide();
        </script>
    {% endif %}

{% else %}
    {% if cajaExiste > 0 and cajagExiste > 0  or sumaTotal| number_format ( 2 ,  '.' ,  '' ) > 0 or sumaTotalG| number_format ( 2 ,  '.' ,  '' ) >0 %}
        <br>
        <div class="clearfix"></div>
        <div class="table-header-grey" style="text-align:left;">
            <i class="icon-bar-chart text-left space"> </i> Cuadratura Caja
        </div>
        <table align="center" width="100%" class="table table-striped table-condensed table-bordered">
            {# TODOS LOS MEDIOS DE PAGO #}
            {% set auxVar = 0 %}
            {% if sumaTotal| number_format ( 2 ,  '.' ,  '' ) !=0 %}
                {% for dct in detallesMontosTipos %}
                    {% set auxVar = auxVar + 1 %}
                {% endfor %}
                {% if auxVar > 0 %}
                    {% set auxVar = 0 %}
                    <tr>
                        <td colspan="4" style=" background-color: #DDDDDD"><b>Todos los Medios de Pago</b>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" colspan="2" style=" background-color: #FAFAFA"><b> Medio de Pago</b></td>
                        <td width="25%" style=" background-color: #FAFAFA">
                            <div style=" text-align:  center"><b> Monto</b></div>
                        </td>
                    </tr>
                    {% set var1Ciclo = null %}
                    {% set var2Ciclo = null %}
                    {% set var3Ciclo = null %}
                    {% set var4Ciclo = null %}
                    {% set var5Ciclo = null %}
                    {% set var6Ciclo = null %}
                    {% set var7Ciclo = null %}
                    {% set var8Ciclo = null %}
                    {% set monto = 0 %}
                    {% set monto1 = 0 %}
                    {% for dct in detallesMontosTipos %}
                        <tr>
                            {# TODO EN UNO #}
                            <td colspan="2">{{ dct.nombreForma }} </td>
                            {% if dct.idFormaPago == 1 or  dct.idFormaPago == 2 or dct.idFormaPago == 13 %}
                                <td>
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(dct.monto) }}
                                    </div>
                                </td>
                            {% endif %}
                            {% if dct.idFormaPago == 7 or  dct.idFormaPago == 8 %}
                                <td>
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(dct.montoCheque) }}
                                    </div>
                                </td>
                            {% endif %}
                            {% if dct.idFormaPago == 3 %}
                                <td>
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(dct.montoBonoElectronico) }}
                                    </div>
                                </td>
                            {% endif %}
                            {% if dct.idFormaPago == 5 %}
                                <td>
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(dct.montoBono) }}
                                    </div>
                                </td>
                            {% endif %}
                            {% if dct.idFormaPago == 12 %}
                                <td>
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(dct.montoExcedente) }}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {# FIN TODOS LOS MEDIOS DE PAGO #}
            {# TODOS LOS BONOS #}
            {% set var3Ciclo = null %}
            {% set var5Ciclo = null %}
            {% for mbm in detallesMontosBonosManuales %}
                {% set auxVar = auxVar + 1 %}
            {% endfor %}
            {% if auxVar >= 1 %}
                {% set auxVar = 0 %}
                <tr>
                    <td colspan="4" style=" background-color: #DDDDDD"><b>Bonos</b>
                    </td>
                </tr>
                {# TODOS LOS BONOS MANUALES #}
                {% for mbm in detallesMontosBonosManuales %}
                    {% if mbm.id == 5 %}
                        <tr>
                            <td colspan="4" style=" background-color: #FFF8DC"><i
                                        class="icon-level-down text-left space"> </i> <b>Bonos Manuales</b>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%" style=" background-color: #FAFAFA"><b>Financiador</b></td>
                            <td width="10%" style=" background-color: #FAFAFA"><b> Cantidad</b></td>
                            <td width="25%" style=" background-color: #FAFAFA">
                                <div style=" text-align:  center"><b> Monto</b></div>
                            </td>
                        </tr>
                        {% for m in mbm.5 %}
                            <tr>
                                <td> {{ m.prevision }}  {% if m.convenio %} &nbsp/&nbsp{{ m.convenio }} {% endif %}  </td>
                                <td> {{ m.cantidad }}</td>
                                <td>
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(m.monto) }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {# FIN TODOS LOS BONOS MANUALES #}
                    {# TODOS LOS BONOS ELECTRONICOS #}
                    {% if mbm.id == 3 %}
                        <tr>
                            <td colspan="4" style=" background-color: #FFF8DC"><i
                                        class="icon-level-down text-left space"> </i> <b>Bonos Electrónicos</b>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%" style=" background-color: #FAFAFA"><b>Financiador</b></td>
                            <td width="10%" style=" background-color: #FAFAFA"><b> Cantidad</b></td>
                            <td width="25%" style=" background-color: #FAFAFA">
                                <div style=" text-align:  center"><b> Monto</b></div>
                            </td>
                        </tr>
                        {% for m in mbm.3 %}
                            <tr>
                                <td> {{ m.prevision }}  {% if m.convenio %} &nbsp/&nbsp{{ m.convenio }} {% endif %}  </td>
                                <td> {{ m.cantidad }}</td>
                                <td>
                                    <div style=" text-align: right ">
                                        {{ obtenerMonto(m.monto) }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {# FIN TODOS LOS BONOS ELECTRONICOS #}
            {% endif %}
            {# FIN TODOS LOS BONOS #}
            {# TODOS LOS DEPOSITOS #}
            {% set auxVar = 0 %}
            {% for dmd in detalleMontosDeposito %}
                {% set auxVar = auxVar + 1 %}
            {% endfor %}
            {% if auxVar > 0 %}
                {% set auxVar = 0 %}
                <tr>
                    <td colspan="4" style=" background-color: #DDDDDD"><b>Todos los Depósitos</b>
                    </td>
                </tr>
                <tr>
                    <td width="25%" style=" background-color: #FAFAFA"><b> Medio de Pago</b></td>
                    <td width="25%" style=" background-color: #FAFAFA"><b> Número Depósito</b></td>
                    <td width="25%" style=" background-color: #FAFAFA">
                        <div style=" text-align:  center"><b> Monto</b></div>
                    </td>
                </tr>
                {% for dmd in detalleMontosDeposito %}
                    <tr>
                        <td>{{ dmd.formaPago }} </td>
                        <td>{{ dmd.deposito }} </td>
                        <td>
                            <div style=" text-align: right ">
                                {{ obtenerMonto(dmd.monto) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {# FIN TODOS LOS DEPOSITOS #}
            {# TODAS LAS GARANTIAS #}
            {% set auxVar = 0 %}
            {% for dmg in detalleMontosGarantias %}
                {% set auxVar = auxVar + 1 %}
            {% endfor %}
            {% if auxVar > 0 %}
                {% set auxVar = 0 %}
                <tr>
                    <td colspan="4" style=" background-color: #DDDDDD"><b>Todos las Garantías</b>
                    </td>
                </tr>
                <tr>
                    <td width="50%" colspan="2" style=" background-color: #FAFAFA"><b> Tipo de Garantía</b></td>
                    <td width="25%" style=" background-color: #FAFAFA">
                        <div style=" text-align:  center"><b> Monto</b></div>
                    </td>
                </tr>
                {% for dmg in detalleMontosGarantias %}
                    <tr>
                        <td colspan="2">{{ dmg.nombreForma }} </td>
                        <td>
                            <div style=" text-align: right ">
                                {{ obtenerMonto(dmg.monto) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {# FIN TODAS LAS GARANTIAS #}
        </table>
        <form id="formInfoCajaDetalle" method="POST" class="form-horizontal hide"
              action="{{ path("Caja_Gestion_InformePDFCajaPagosWeb") }}" method="post" target="_blank">
            <input id="valoridCaja" type="text" name="valoridCaja" value=" {{ idcaja }}"><br>
        </form>
    {% else %}
        <div class="alert alert-warning CajaCerrada">
            <strong>NO SE REGISTRAN TRANSACCIONES PARA ÉSTA CAJA</strong>
            <div class="clearfix"></div>
            No se han generados pagos y/o garantías relacionados con ésta Caja.
        </div>
        <script type="text/javascript">
            $('.btn-print-InfoCaja').hide();
        </script>
    {% endif %}

    {% if sumaTotal| number_format ( 2 ,  '.' ,  '' ) == 0 and  sumaTotalG| number_format ( 2 ,  '.' ,  '' ) != 0 %}
        <div class="alert alert-warning CajaCerrada">
            <strong>CAJA NO REGISTRA PAGOS</strong>
            <div class="clearfix"></div>
            Los registros indican que no tiene pagos activos.
        </div>

        {% if cajaExisteAnul < 1 and cajagExisteAnul < 1 and sumaTotal|number_format ( 2 ,  '.' ,  '' ) < 1 and sumaTotalG|number_format ( 2 ,  '.' ,  '' ) < 1 %}
            <script type="text/javascript">
                $('.btn-print-InfoCaja').hide();
            </script>
        {% endif %}
    {% endif %}
    {% if sumaTotalG| number_format ( 2 ,  '.' ,  '' ) == 0 and sumaTotal|number_format ( 2 ,  '.' ,  '' ) != 0 %}
        <div class="alert alert-warning CajaCerrada">
            <strong>CAJA NO REGISTRA GARANTÍAS ACTIVAS</strong>
            <div class="clearfix"></div>
            Los registros indican que no tiene garantias activas.
        </div>
        {% if cajaExisteAnul < 1 and cajagExisteAnul < 1 and sumaTotal|number_format ( 2 ,  '.' ,  '' ) < 1 and sumaTotalG|number_format ( 2 ,  '.' ,  '' ) < 1 %}
            <script type="text/javascript">
                $('.btn-print-InfoCaja').hide();
            </script>
        {% else %}
            <script type="text/javascript">
                $('.btn-print-InfoCaja').show();
            </script>
        {% endif %}
    {% endif %}
{% endif %}
{% block scripts -%}
    <script type="text/javascript">
        $('.zoom-pagos').css('zoom', '0.7');
    </script>
{% endblock %}
